body{
    margin: 0;
}

img{
    display: inline-box;
}

table{
    display: flex;
    border-collapse: collapse;
}

th, td{
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.table-container{
    display: inline-box;
}

.x-reversed{
    transform: scaleX(-1);
}

.y-reversed{
    transform: scaleY(-1);
}

.left-rotated{
    transform: rotate(-90deg);
}

.right-rotated{
    transform: rotate(90deg);
}