body{
    margin: 0;
    line-height: 0;
}

*{
    margin: 0;
}

.img{
    display: inline-block;
    background-size: cover;
}

.block{
    display: inline-block;
    width: max-content;
    height: 32px;
    vertical-align: top;
}

.grid{
    display: grid;
    width: 100%;
    place-items: center;
    gap: 0;
}

.x-reversed{
    transform: scaleX(-1);
}

.y-reversed{
    transform: scaleY(-1);
}

.left-rotated{
    transform: rotate(-90deg);
}

.right-rotated{
    transform: rotate(90deg);
}

.half-space{
    display: inline-block;
    width: 16px;
    height: 32px;
}

.space{
    display: inline-block;
    width: 32px;
    height: 32px;
}